<% include ./layout.ejs %>
<link rel="stylesheet" href="{CDN}/css.css">
<img src="{IMG}/png.png" alt="">
<script src="lithe.js" data-main="entry.js" data-base="//localhost:3333"></script>
</body>
</html>